@font-face {
    font-family: 'Claire Hand';
    src: url('ClaireHand-Bold.woff2') format('woff2'),
        url('ClaireHand-Bold.woff') format('woff'),
        url('ClaireHand-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Claire Hand';
    src: url('ClaireHand-Regular.woff2') format('woff2'),
        url('ClaireHand-Regular.woff') format('woff'),
        url('ClaireHand-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Claire Hand';
    src: url('ClaireHand-Light.woff2') format('woff2'),
        url('ClaireHand-Light.woff') format('woff'),
        url('ClaireHand-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}