.firulete1 {
  width: 25rem;
  position: absolute;
  top: 0;
  left: 0;
}

.logo {
  max-width: 25rem;
  margin: 3rem auto 3rem;
}

.contact {
  position: absolute;
  top: 1rem;
  right: 2.5rem;
  width: 18.75rem;
}

.textContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 8rem;
}

.paragraph {
  width: 50%;
  text-align: center;
  color: #221de0;
  font-size: 1.2rem;
  line-height: 1.2;
  margin-left: 6rem;
  font-family: "Claire Hand";
}

.spotify {
  margin-top: 5rem;
  width: 18.75rem;
}

.nypdContainer {
  display: flex;
  align-items: center;
  margin-top: -1.25rem;
}

.nypd {
  margin-left: -3.125rem;
  width: 56rem;
}

.hardCandy {
  margin-left: -4rem;
  width: 23rem;
  position: relative;
  top: 4.0625rem;
  cursor: pointer;
}

.firulete2 {
  position: absolute;
  left: 0;
  width: 9.5rem;
  transform: translateY(-1rem);
}

.uber {
  width: 26rem;
  transform: translate(36rem, 0.625rem);
}

.uber img {
  width: 100%;
}

.speedy {
  width: 28rem;
  transform: translate(12rem, 1.5rem);
}

.speedy img {
  width: 100%;
}

.chica {
  width: 53.625rem;
  transform: translate(14rem, -12.25rem);
}

.burger {
  position: absolute;
  width: 15.625rem;
  transform: translate(11rem, -38.5rem);
  cursor: pointer;
}

.burger img {
  width: 100%;
}

.cheetos {
  position: absolute;
  width: 19rem;
  transform: translate(38rem, -20rem);
}

.cheetos img {
  width: 100%;
}

.cheetosVideo {
  position: absolute;
  width: 29rem;
  transform: translate(34rem, -8.5rem);
}

.cheetosVideo img {
  width: 100%;
}

.firulete3 {
  position: absolute;
  right: 0;
  width: 8.75rem;
  transform: translate(0px, -43rem);
}

.firulete4 {
  position: absolute;
  left: 0;
  width: 19rem;
  transform: translate(-0.25rem, -13rem);
}

.adidas {
  position: absolute;
  left: 0;
  width: 30rem;
  transform: translate(23rem, 9rem);
}

.adidas img {
  width: 100%;
}

.cata {
  position: absolute;
  right: 0;
  width: 24.375rem;
  transform: translate(-6.5rem, 13rem);
  z-index: 2;
}

.firulete5 {
  position: absolute;
  right: 0;
  width: 14.0625rem;
  transform: translate(0px, -11.5625rem);
}

.supreme {
  position: absolute;
  right: 0;
  width: 28.25rem;
  transform: translate(-5.3rem, 52rem);
  z-index: 1;
}

.firulete6 {
  position: absolute;
  left: 0;
  width: 6.375rem;
  transform: translate(0px, 52rem);
}

.army {
  position: absolute;
  left: 0;
  width: 35.75rem;
  transform: translate(0.625rem, 56.25rem);
}

.firulete7 {
  position: absolute;
  left: 0;
  width: 11.625rem;
  transform: translate(21.5625rem, 70.125rem);
}

.unicef {
  width: 36rem;
  position: absolute;
  transform: translate(28.8rem, 64.5rem);
}

.firulete8 {
  position: absolute;
  right: 0;
  width: 14.3125rem;
  transform: translate(0, 60.0625rem);
}

.wikichin {
  position: absolute;
  left: 0;
  width: 43.75rem;
  transform: translate(-3.75rem, 109rem);
}

.resizeHandle {
  width: 50px;
  height: 50px;
  background-color: #000000;
}

.cheetosGallery {
  position: absolute;
  width: 12rem;
  transform: translate(18rem, -17rem);
  height: 0;
  cursor: pointer;
}

.cheetos1 {
  transform: translate(1rem, -6.5rem) rotate(-7deg);
  z-index: 4;
}

.cheetos2 {
  transform: translate(0, -13rem);
  z-index: 2;
}

.cheetos3 {
  transform: translate(2rem, -27rem) rotate(17deg);
  z-index: 3;
}

.cheetos4 {
  transform: translate(4.5rem, -41rem);
  z-index: 1;
}

.bimboGallery {
  position: absolute;
  width: 13rem;
  transform: translate(17rem, 36rem);
  height: 0;
  cursor: pointer;
}

.bimbo1 {
  transform: translate(8rem, -5.5rem) rotate(-7deg);
  z-index: 2;
}

.bimbo2 {
  transform: translate(-2rem, -19rem) rotate(-12deg);
  z-index: 1;
}

.bimbo3 {
  transform: translate(2rem, -27rem) rotate(-9deg);
  z-index: 4;
}

.bimbo4 {
  transform: translate(5rem, -43.5rem) rotate(5deg);
  z-index: 3;
}

.cliniqueGallery {
  position: absolute;
  width: 13rem;
  transform: translate(7rem, 78rem);
  height: 0;
  cursor: pointer;
}

.clinique1 {
  transform: rotate(8deg);
  z-index: 6;
}

.clinique2 {
  transform: translate(0rem, -7.5rem) rotate(6deg);
  z-index: 5;
}

.clinique3 {
  transform: translate(-5rem, -22.5rem) rotate(15deg);
  z-index: 3;
}

.clinique4 {
  transform: translate(-3rem, -37.5rem);
  z-index: 4;
}

.clinique5 {
  transform: translate(3.5rem, -47rem);
  z-index: 1;
}

.clinique6 {
  transform: translate(2rem, -56rem);
  z-index: 2;
}

.palomitasGallery {
  position: absolute;
  width: 22rem;
  transform: translate(33rem, 89rem);
  height: 0;
  z-index: 1;
  cursor: pointer;
}

.palomitas1 {
  z-index: 1;
  transform: translate(5rem, 9rem);
}

.palomitas2 {
  z-index: 2;
  transform: translate(0, -16rem) rotate(-5deg);
}

.palomitas3 {
  z-index: 3;
  transform: translate(12rem, -31rem) rotate(12deg);
}

.firulete9 {
  position: absolute;
  right: 0;
  width: 15rem;
  transform: translate(-20rem, 113rem);
}

.backToTop {
  position: absolute;
  width: 10rem;
  right: 0;
  transform: translate(-1rem, 117rem);
  z-index: 1;
}

.firulete10 {
  position: absolute;
  right: 0;
  width: 13.13rem;
  transform: translate(0, 113rem);
}

.footer {
  transform: translate(0, 128rem);
  width: 100%;
  text-align: center;
  padding: 10px;
  color: #221de0;
  font-size: 1.2rem;
  line-height: 1.2;
  font-family: "Claire Hand";
}
