.firulete1 {
  width: 25rem;
  position: absolute;
  top: 0;
  left: 0;
}

.logo {
  max-width: 25rem;
  margin: 3rem auto 3rem;
}

.contact {
  position: absolute;
  top: 1rem;
  right: 2.5rem;
  width: 18.75rem;
}

.textContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 8rem;
}

.paragraph {
  width: 50%;
  text-align: center;
  color: #221de0;
  font-size: 1.2rem;
  line-height: 1.2;
  margin-left: 6rem;
}

.spotify {
  margin-top: 5rem;
  width: 18.75rem;
}

.nypdContainer {
  display: flex;
  align-items: center;
  margin-top: -1.25rem;
}

.nypd {
  margin-left: -3.125rem;
  width: 62.5rem;
}

.hardCandy {
  margin-left: -3.75rem;
  width: 25rem;
  position: relative;
  top: 4.0625rem;
}

.firulete2 {
  position: absolute;
  left: 0;
  width: 12.5rem;
}

.uber {
  width: 31.25rem;
  transform: translate(40.75rem, 0.625rem);
}

.speedy {
  width: 570px;
  transform: translateX(200px);
}

.chica {
  width: 35.625rem;
  transform: translate(16.875rem, -16.25rem);
}

.burger {
  position: absolute;
  width: 15.625rem;
  transform: translate(13.75rem, -44.5rem);
}

.cheetos {
  position: absolute;
  width: 21.875rem;
  transform: translate(43.5625rem, -24.8125rem);
}

.cheetosVideo {
  position: absolute;
  width: 32.9375rem;
  transform: translate(39.875rem, -12.8125rem);
}

.firulete3 {
  position: absolute;
  right: 0;
  width: 8.75rem;
  transform: translate(0px, -48.125rem);
}

.firulete4 {
  position: absolute;
  left: 0;
  width: 25rem;
  transform: translate(-6.25rem, -15.625rem);
}

.adidas {
  position: absolute;
  left: 0;
  width: 31.25rem;
  transform: translate(30.3125rem, 5.625rem);
}

.cata {
  position: absolute;
  right: 0;
  width: 24.375rem;
  transform: translate(-9.0625rem, 10.625rem);
  z-index: 2;
}

.firulete5 {
  position: absolute;
  right: 0;
  width: 14.0625rem;
  transform: translate(0px, -11.5625rem);
}

.supreme {
  position: absolute;
  right: 0;
  width: 31.25rem;
  transform: translate(-6rem, 49.8135rem);
  z-index: 1;
}

.firulete6 {
  position: absolute;
  left: 0;
  width: 9.375rem;
  transform: translate(0px, 50rem);
}

.army {
  position: absolute;
  left: 0;
  width: 43.75rem;
  transform: translate(0.625rem, 56.25rem);
}

.firulete7 {
  position: absolute;
  left: 0;
  width: 15.625rem;
  transform: translate(25.5625rem, 74.125rem);
}

.firulete8 {
  position: absolute;
  right: 0;
  width: 17.3125rem;
  transform: translate(0, 59.0625rem);
}

.wikichin {
  position: absolute;
  left: 0;
  width: 43.75rem;
  transform: translate(-3.75rem, 93.75rem);
}