.navBar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  height: 5rem;
  z-index: 10;
  position: fixed;
  top: 0;
  border-bottom: 4px solid rgb(209, 3, 3);
  padding: 0 5rem;
}

.navBar_links {
  display: flex;
  flex-direction: row;
}
.navBar_link {
  margin: 0 5px;
  height: 5rem;
  max-height: 30px;
  width: auto;
}
.navBar_link img {
  max-width: 100%;
  max-height: 100%;
}
