.animationContainer {
  /*  */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.adidasContainer {
  /*  */
  /* position: absolute;
  left: 0;
  width: 30rem;
  transform: translate(23rem, 9rem);
  cursor: pointer; */
  width: 48%;
  max-width: 640px;
  height: 20rem;
  margin: 10px;
  cursor: pointer;
}

.videoOverlay {
  /*  */
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 20;
}

.videoOverlay > span {
  font-size: 2rem;
  color: #cccccc;
  position: absolute;
  top: 0rem;
  right: 1rem;
  cursor: pointer;
}

/* CTAs */

@media only screen and (max-width: 870px) {
  .videoOverlay > span {
    font-size: 8rem;
  }
}
